<div class="container">
  <app-product-card
    id="1"
    [ProductName]="product.ProductName"
    [SalesVolume]="product.SalesVolume"
    [ProductPrice]="product.ProductPrice"
    [SpecialOffer]="product.SpecialOffer"
    [(isShow)]="product.isShow"
    [imgUrl]="product.imgUrl"
    [createDate]="product.createDate"
  ></app-product-card>
  <app-product-card
    id="1"
    [ProductName]="product.ProductName"
    [SalesVolume]="product.SalesVolume"
    [ProductPrice]="product.ProductPrice"
    [SpecialOffer]="product.SpecialOffer"
    [(isShow)]="product.isShow"
    [imgUrl]="product.imgUrl"
    [createDate]="product.createDate"
  ></app-product-card>
  <app-product-card
    id="1"
    [ProductName]="product.ProductName"
    [SalesVolume]="product.SalesVolume"
    [ProductPrice]="product.ProductPrice"
    [SpecialOffer]="product.SpecialOffer"
    [(isShow)]="product.isShow"
    [imgUrl]="product.imgUrl"
    [createDate]="product.createDate"
  ></app-product-card>
</div>
