<div>
  <h2>基本資料</h2>
  <form [formGroup]="form">
    <div>
      <label for="name">姓名</label>
      <input type="text" id="name" placeholder="請輸入姓名" formControlName="name" />
      @if (name.hasError('required')) {
      <div class="error-message">請輸入姓名</div>
      }
    </div>
    <div>
      <label for="address">地址</label>
      <input type="text" id="address" placeholder="請輸入地址" formControlName="address" />
      @if (address.hasError('required')) {
      <div class="error-message">請輸入地址</div>
      }
    </div>
    <div>
      <label for="phone">電話</label>
      <input type="text" id="phone" placeholder="請輸入電話" formControlName="phone" />
      @if (phone.hasError('required')) {
      <div class="error-message">請輸入電話</div>
      } @if (phone.hasError('pattern')) {
      <div class="error-message">電話必須為數字</div>
      }
    </div>
  </form>
</div>

@for(item of cartItem;track item.id){
<div>
  <span
    >商品名稱:{{item.Product.ProductName}} <button (click)="onAdd(item.Product)">加</button>
    <button (click)="onRemove(item.Product)">減</button>
  </span>
  <span>數量:{{ item.Quantity }}</span>
  <span>價錢小計: {{ item.Quantity*item.Product.ProductPrice }}</span>
</div>

}
<div>總金額{{cartService.getCartMoneyCount() }}</div>

<button [disabled]="form.invalid" (click)="pay()">結帳</button>
